
.div_Box {
  height: 5rem;
  width: 5rem;
  background: #000;
}

.div_Circle {
  height: 5rem;
  width: 5rem;
  background: #000;
  border-radius: 50%;
}

.div_Triangle {
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid green;
  border-left: 5rem solid green;
  border-right: 5rem solid transparent;
  display: inline-block;
}

.div_Trapezoid {
  border-top: 0rem solid transparent;
  border-bottom: 10rem solid blue;
  border-left: 10rem solid transparent;
  border-right: 10rem solid transparent;
  display: inline-block;
  width: 10rem;
}

body {
  background: #444;
  width: 99%;
  height: 100%;
}

.div_vampire div {
  position: absolute;
}

.div_vampire {
  position: relative;
}

.div_head {
  height: 23rem;
  width: 16rem;
  background: #eceed9;
  border-radius: 10% 30% 50% 50%/10% 10% 40% 35%;
  overflow: hidden;
}

.div_cheek_left {
  height: 6rem;
  width: 4rem;
  bottom: 0;
  border-radius: 30%;
  background: linear-gradient(to bottom, #cecebf 30%, #eceed9 100%);
}

.div_cheek_right {
  height: 6rem;
  width: 4rem;
  bottom: 0;
  right: 0;
  border-radius: 30%;
  background: linear-gradient(to bottom, #cecebf 30%, #eceed9 100%);
}

.div_mouth {
  height: 3rem;
  width: 6rem;
  background: #ed2629;
  border-radius: 0 0 3rem 3rem;
  top: 18rem;
  left: 50%;
  transform: translateX(-50%);
}

.div_nose {
  height: 1rem;
  width: 2rem;
  background: linear-gradient(to bottom, #cecebf 30%, #eceed9 100%);
  border-radius: 0 0 1rem 1rem;
  top: 15rem;
  left: 50%;
  transform: translateX(-50%);
}

.div_eye_border {
  height: 2.5rem;
  width: 5rem;
  border-radius: 0 0 2.5rem 2.5rem;
  background: linear-gradient(to bottom, #cecebf 30%, #eceed9 100%);
  top: 10.5rem;
  transform: rotate(25deg);
}

.div_eyebrow {
  top: -1rem;
  border-top: 0rem solid;
  border-bottom: 1rem solid #221d21;
  border-left: 1rem solid transparent;
  border-right: 4rem solid transparent;
}

.div_eye {
  height: 1.6rem;
  width: 3.2rem;
  border-radius: 0 0 1.6rem 1.6rem;
  background: #ed2528;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: -0.2rem 0.1rem 0 0.1rem black
}