
.divRoot {
}

/* 半圓 */
.half_pie {
  position:absolute;
  width:50px;
  height:100px;
  overflow:hidden;
  border-radius:0 50px 50px 0;
  background:#0ce;
  left: 150px;
}

/* 動態的 pie chart */
.pie_chart {
  position:absolute;
  width:50px;
  height:100px;
  overflow:hidden;
  border-radius:0 50px 50px 0;
  -webkit-animation:a 5s infinite linear;
}

.pie_chart::before, .pie_chart::after{
  content:"";
  box-sizing:border-box;
  position:absolute;
  right:0;
  width: 100px;
  height: 50px;
  background:#0ce;
  border-radius:50px 50px 0 0;
  transform-origin:50% 100%;
}

.pie_chart::before{
  z-index:1;
  -webkit-animation:a1 5s infinite linear;
  transform:rotate(-90deg);
}

.pie_chart::after{
  opacity:0;
  z-index:2;
  transform:rotate(90deg);
  -webkit-animation:a2 5s infinite linear;
}

@-webkit-keyframes a1{
  0%{ 
    transform:rotate(-90deg);
  }
  100%{ 
    transform:rotate(270deg);
  }
}

@-webkit-keyframes a2{
  0%{
    opacity:0;
  }
  49.99%{
    opacity:0;
  }
  50%{
    opacity:1;
  }
  100%{
    opacity:1;
  }
}

@-webkit-keyframes a{
  0%{
    margin-left:50px;
    width:50px;
    border-radius:0 50px 50px 0;
  }
  49.99%{
    margin-left:50px;
    width:50px;
    border-radius:0 50px 50px 0;
  }
  50%{
    margin-left:0;
    width:100px;
    border-radius:0;
  }
  100%{
    margin-left:0;
    width:100px;
    border-radius:0;
  }
}

.no_padding_no_border_box {
  position:absolute;
  top: 150px;
  width: 300px;
  height: 50px;
  border: 1px solid blue;
}

.with_padding_no_border_box {
  position:absolute;
  top: 210px;
  width: 300px;
  height: 50px;    
  padding: 10px;
  border: 1px solid red;
}

.no_padding_with_border_box {
  position:absolute;
  top: 290px;
  width: 300px;
  height: 50px;
  border: 1px solid blue;
  box-sizing: border-box;
}

.with_padding_with_border_box {
  position:absolute;
  top: 350px;
  width: 300px;
  height: 50px;    
  padding: 10px;
  border: 1px solid red;
  box-sizing: border-box;
}

.transform_origin_test {
  position:absolute;
  top: 450px;
  left: 100px;
  width:100px;
  height:100px;
  background:black;
}

.transform_origin_test2 {
  composes: transform_origin_test;
  background: red;
  transform: rotate(45deg);
  transform-origin:0% 0%;
}

.test_before_after {
  position: absolute;
  top: 630px;
  left: 20px;
  color: black;
}

.test_before_after::before {
  content: "before ";
  color: blue;
}

.test_before_after::after {
  content: " after";
  color: red;
}
